/* 2020/02/27 build */
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
}
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.center {
	margin: 0 auto;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* width */
.full-w {
	width: 100%;
}
.full-h {
	height: 100%;
}
/* font */
.fontsize0 {
	font-size: 0;
}
.lineheight0 {
	line-height: 0;
}
/* clear */
.clearfix:after {
    content: "";  /*设置内容为空*/
    height: 0;  /*高度为0*/
    line-height: 0;  /*行高为0*/
    display: block;  /*将文本转为块级元素*/
    visibility: hidden;  /*将元素隐藏*/
    clear: both;  /*清除浮动*/
}
.clearfix {
    zoom: 1;  /*为了兼容IE*/
}
.pointer {
	cursor: pointer;
}
.hide {
	display: none;
}
/* pc&mo */
.wrapper {
	/* border-top: 1px solid transparent; */
	/* overflow: hidden; */
}
.grey {
	color: #666;
}
.white {
	color: #fff;
}
.box-swiper, .content {
	left: 0;
}
.modal {
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 12;
}
/* hide baidu info */
/* .BMap_cpyCtrl, .anchorBL {
    display: none;
} */
/* pc */
.pc .wrapper {
	min-width: 960px;
}
.pc .main {
	margin: 9.4rem auto 0;
}
.pc .slash {
	width: 10.2rem;
}
.pc .slash-m {
	width: 5.2rem;
}
.pc .box-title h2 {
	padding: 4rem 0 3rem;
	font-size: 3.74rem;
	line-height: 5.9rem;
	letter-spacing: 0.4rem;
}
.pc .box-title h3 {
	padding: 3rem 0;
	font-size: 3rem;
	line-height: 4.5rem;
}
.pc .box-title .subtitle {
	font-size: 2.34rem;
	line-height: 3.98rem;
	letter-spacing: 0.1rem;
}
/* mo */
.mo .main {
	margin: 6rem 0 0;
}
.mo .slash {
	width: 3.12rem;
}
/* .mo .title h2 {
	padding: 2.8rem 0 2.2rem;
	font-size: 1.96rem;
	line-height: 3rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
.mo .title .subtitle {
	font-size: 1.28rem;
	line-height: 2.4rem;
	letter-spacing: 0.04rem;
} */
