/* 2020/04/20 build */
.main {
	margin: 7.8% auto 0!important;
}
.box-title h2 {
	letter-spacing: 0.2rem!important;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.5% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 17.93%;
	margin: 0 3.8% 0.4% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .item-prod .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .color-item2 div {
	background: #c70023;
}
.sec1 .color-item3 div {
	background: #e8d3b4;
}
.sec1 .item-prod .box-3d {
	width: 35%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
	z-index: 1;
}
.sec2 video {
	object-fit: fill;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 12.7%;
	left: 11.6%;
}
.sec2 h3 {
	margin-left: 5.8%;
}
.sec2 .content2 {
	width: 33.646%;
	top: 14%;
	left: 33.177%;
}
.sec2 .content2 .content-item:first-child {
	margin-bottom: 4.6%;
}
.sec2 .content2 .content-item.show {
	display: block;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 11.4%;
}
.sec3 .btn-more-l {
	width: 24%;
	top: 78.6%;
	left: 38%;
}
.sec4 {
	margin-top: -14%;
	z-index: 1;
}
.sec4 .box-title4 {
	top: 12.4%;
}
.sec4 .btn-more-l {
	width: 24%;
	top: 76.5%;
	left: 38%;
}
.modal .content {
	width: 50%;
	margin-top: 10%;
}
.modal .btn-close {
	width: 6.25%;
	margin-top: 6%;
}
.modal-download .content {
	width: 40rem;
	font-size: 2rem;
	line-height: 2rem;
}
.modal-download a {
	padding: 2rem 0;
	border-bottom: 1px solid #fff;
	display: block;
}
.modal-download a:last-child {
	border-bottom: none;
}
.modal-download a {
	color: #fff;
}
.modal-download a:link {
	color: #fff;
}
.modal-download a:visited {
	color: #fff;
}
.modal-download a:hover {
	color: #fff;
}
.modal-download a:active {
	color: #fff;
}
.modal-download .icon-download {
	width: 1.5rem;
	margin-left: 0.8rem;
	margin-bottom: 0;
	vertical-align: bottom;
}
.modal-download .btn-close {
	margin-right: -10rem;
	width: 6.2rem;
}
.box-link .link-meq, .box-link .link-brand {
	display: none!important;
}
.sec1 .box-title1, 
.sec1 .box-other, 
.sec1 .box-zykt, 
.sec2 .box-title2, 
.sec2 .box-video,
.sec2 .box-title2-2, 
.sec2 .btn-more-l,
.sec3 .box-title3, 
.sec3 .btn-more-l, 
.sec4 .box-title4,
.sec4 .btn-more-l {
	/* opacity: 0; */
}
