/* 2020/03/10 build */
.wrapper {
	min-width: 1200px!important;
}
.box-title {
	width: 88.4%;
	left: 11.6%;
}
.slash-m {
	width: 5.2rem;
}
.box-title h2 {
	margin-left: 5.8%;
}
.sec1 {
	margin-top: -14.2%;
}
.sec1 .swiper-button-black {
	width: 4%;
	height: 5.4%;
	margin-top: -0.6%;
}
.sec1 .swiper-button-prev.swiper-button-black {
	left: 8%;
}
.sec1 .swiper-button-next.swiper-button-black {
	right: 8%;
}
.sec1 .swiper-pagination {
	bottom: 18.2%;
}
.sec1 .swiper-pagination .swiper-pagination-bullet {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 1.6rem!important;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper-pagination .swiper-pagination-bullet-active {
	background: #ff0000;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 13.7%;
}
.sec2 .slash2 {
	margin-bottom: 1.6%;
}
.sec2 .box-swiper {
	top: 30.8%;
}
.sec2 .btns .btn {
	margin: 0 2%;
	display: inline-block;
}
.sec2 .btn .year {
	font-size: 2.4rem;
	line-height: 3.6rem;
	opacity: 0.5;
}
.sec2 .btn.active .year {
	opacity: 1;
}
.sec2 .btns .btn .line {
	width: 72%;
	height: 0.26rem;
	background: #ff0000;
	display: none;
}
.sec2 .btn.active .line {
	display: block;
}
.sec2 .box-swiper .swiper2 {
	margin-top: 3.4%;
}
.sec2 .swiper-item {
	width: 32%;
	display: inline-block;
}
.sec2 .swiper-item:first-child {
	margin-right: 2%;
}
.sec2 .swiper-slide {
	font-size: 1.3rem;
	line-height: 2.2rem;
}
.sec2 .swiper-slide .month {
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.sec2 .swiper-slide .month label, .sec2 .swiper-slide .month > div {
	vertical-align: top;
	display: inline-block;
}
.sec2 .swiper-slide .month label {
	width: 4.2rem;
}
.sec2 .swiper-slide .month > div {
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;       /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 13%;
}
.sec3 .slash3 {
	margin-bottom: 4%;
}
.sec3 .subtitle3 {
	padding-left: 5.8%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	top: 9.3%;
}
.sec4 .slash4 {
	margin-bottom: 0.2%;
}
.sec4 .box-swiper {
	width: 79.115%;
	top: 23.8%;
	left: 10.4425%;
}
.sec4 .swiper-button-prev, .sec4 .swiper-button-next {
	width: 5%;
	height: 10%;
	top: 8.1%;
}
.sec4 .swiper-button-prev {
	left: 3.6%;
	background: url('../../img/pc/about/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec4 .swiper-button-next {
	right: 3.6%;
	background: url('../../img/pc/about/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec4 .swiper-pagination {
	bottom: 0.1%;
}
.sec4 .swiper-pagination .swiper-pagination-bullet {
	width: 1.4rem;
	height: 1.4rem;
	margin: 0 1rem!important;
	background: #cdcdcd;
	border-radius: 0;
	opacity: 1;
}
.sec4 .swiper-pagination .swiper-pagination-bullet-active {
	background: #5d5d5d;
}
/* .sec4 .content41 h3 {
	font-size: 1.26rem;
	line-height: 1.26rem;
	margin: 2% auto 3.6%;
}
.sec4 .content41 .article {
	display: -webkit-flex;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
}
.sec4 .content41 .article > div {
	padding: 0 2.8%;
	-webkit-flex: 1;
    -ms-flex: 1; 
    flex: 1;
    -webkit-box-flex: 1; 
    -moz-box-flex: 1;
}
.sec4 .content41 .article > div:nth-child(2) {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.sec4 .content41 .article > div h2 {
	height: 16.2%;
	font-size: 2.16rem;
	line-height: 2.16rem;
	font-weight: 300;
	margin-top: 6.8%;
}
.sec4 .content41 .article > div p {
	font-size: 1rem;
	line-height: 2rem;
} */
.sec4 .content4-2 {
	height: 34rem;
}
.sec4 .content4-2 li {
	display: inline-block;
	border-right: 1px solid #ccc;
}
.sec4 .content4-2 li:first-child {
	border-left: 1px solid #ccc;
}
.sec4 .content4-2 li > div {
	display: inline-block;
}
.sec4 .content4-2 li .label{
	width: 2.44rem;
}
.sec4 .content4-2 li .cont {
	width: 7.6rem;
	overflow: hidden;
}
.sec4 .content4-2 li .cont .year {
	width: 7.8rem;
	top: 8.6%;
	font-size: 2.1rem;
	line-height: 2rem;
}
.sec4 .content4-2 li .cont img {
	margin-left: 1rem;
	opacity: 0;
}
.sec4 .content4-2 .plus {
	padding: 2.6rem;
	top: 77.6%;
	z-index: 1;
}
.sec4 .content4-2 .plus .divider {
	background: #666;
} 
.sec4 .content4-2 .plus .divider1 {
	width: 2.6rem;
	height: 1px;
}
.sec4 .content4-2 .plus .divider2 {
	width: 1px;
	height: 2.6rem;
	top: 25%;
	left: 50%;
}
.box-link .link-meq, .box-link .link-brand, .box-link .divider, .box-link .link-item:last-child {
	display: none!important;
}
