/* 2020/03/17 build */
.sec0 .btn-play {
	width: 16.4%;
	top: 42.6%;
	left: 17.8%;
}
.sec0 .swiper-button-prev, .sec0 .swiper-button-next {
	width: 4.2%;
	height: 11.6%;
	top: 40.2%;
}
.sec0 .swiper-button-prev {
	left: 4.2%;
	background: url('../../img/pc/home/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec0 .swiper-button-next {
	right: 4.2%;
	background: url('../../img/pc/home/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.box-title {
	left: 10.4%;
}
video {
	object-fit: fill;
}
.sec1 {
	margin-top: -14%;
	z-index: 1;
}
.sec1 .box-title1 {
	top: 12.5%;
}
.sec1 .box-other {
	top: 39.8%;
}
.sec1 .other-item {
	width: 21%;
	display: inline-block;
}
.sec1 .other-item:first-child {
	margin-right: 4%;
}
.sec1 .other-item .btn-more-s {
	width: 60%;
	bottom: 9%;
	left: 20%;
}
.sec1 .box-zykt {
	margin-top: 3.8%;
}
.sec1 .box-zykt img {
	width: 24%;
}
.sec2 {
	margin-top: -14%;
	z-index: 1;
}
.sec2 .box-title2 {
	top: 7.2%;
}
.sec2 .box-video {
	top: 19%;
	left: 0;
}
.sec2 .box-video video {
	width: 79.2%;
}
.sec2 .box-title2-2 {
	top: 70%;
}
.sec2 .btn-more-l {
	width: 24%;
	top: 81.8%;
	left: 10.4%;
}
.sec3 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec3 .box-title3 {
	top: 11.4%;
}
.sec3 .btn-more-l {
	width: 24%;
	top: 78.6%;
	left: 38%;
}
.sec4 {
	margin-top: -14%;
	z-index: 1;
}
.sec4 .box-title4 {
	top: 12.4%;
}
.sec4 .btn-more-l {
	width: 24%;
	top: 76.5%;
	left: 38%;
}
.modal .content {
	width: 72%;
	margin-top: 6%;
}
.modal .btn-close {
	width: 8.75%;
	top: -15%;
	right: -9%;
}
.box-link .link-meq, .box-link .link-brand {
	display: none!important;
}
.sec1 .box-title1, 
.sec1 .box-other, 
.sec1 .box-zykt, 
.sec2 .box-title2, 
.sec2 .box-video,
.sec2 .box-title2-2, 
.sec2 .btn-more-l,
.sec3 .box-title3, 
.sec3 .btn-more-l, 
.sec4 .box-title4,
.sec4 .btn-more-l {
	opacity: 0;
}
