/* 2020/03/07 build */
.sec1 {
	margin-top: -14%;
}
.sec1 .box-title1 {
	top: 13.8%;
	left: 10.4%;
}
.sec1 .divider {
	width: 24.4%;
	height: 2px;
	top: 45.4%;
	left: 37.8%;
	background: #d8e3e7;
}
.sec1 .box-title1-2 {
	top: 48.2%;
	left: 10.4%;
}
.sec1 .content1 {
	top: 57.7%;
}
.sec1 .content1 img {
	width: 18.8%;
	margin: 0 0.66%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 14%;
	left: 10.4%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 14.2%;
	left: 10.4%;
}
.sec4 {
	margin-top: -14%;
}
.sec4 .box-title4 {
	top: 23.9%;
	right: 9.6%;
}
.sec5 {
	margin-top: -14%;
}
.sec5 .box-title5 {
	top: 14%;
	left: 10.4%;
}
.box-link .link-meq, .box-link .link-brand {
	display: none!important;
}
.sec1 .box-title1,
.sec1 .divider,
.sec1 .box-title1-2,
.sec1 .content1,
.sec2 .box-title2,
.sec3 .box-title3,
.sec4 .box-title4,
.sec5 .box-title5 {
	opacity: 0;
}