/* 2020/03/07 build */
.sec0 .box-title0 {
	top: 17.6%;
	left: 10.4%;
}
.sec0 .content0 {
	top: 40%;
}
.box-title {
	left: 10.4%;
}
.sec1 {
	margin-top: -14%;
}
.sec1 .box-title1 {
	top: 12.4%;
}
.sec1 .box-title1-2 {
	top: 5.7%;
}
.sec1 .content1-2 {
	top: 22%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 13.2%;
}
.sec2 .content2 {
	top: 33%;
}
.sec2 .btn-check {
	width: 15.8%;
	top: 78.8%;
}
.sec2 .btn-check1 {
	left: 14.8%;
}
.sec2 .btn-check2 {
	left: 42.2%;
}
.sec2 .btn-check3 {
	left: 69.4%;
}
.box-link .link-meq, .box-link .link-brand {
	display: none!important;
}
.sec0 .box-title0,
.sec0 .content0,
.sec1 .box-title1,
.sec1 .content1-1 img,
.sec1 .box-title1-2,
.sec1 .content1-2,
.sec2 .box-title2,
.sec2 .content2 {
	opacity: 0;
}
