/* 2020/04/16 build */
.main {
	margin: 7.8% auto 0!important;
}
.sec1 {
	margin-top: 1%;
}
.sec1 .content1 {
	width: 79.2%;
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	/* background: #ccc; */
}
.sec1 .content1 aside {
	width: 15rem;
	display: inline-block;
	/* background: #aaa; */
}
.sec1 .content1 .list-prod {
	min-height: 78.7rem;
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;       /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
    /* background: #f4f4f4; */
}
.sec1 aside .box-btns {
	font-size: 1.94rem;
	line-height: 1.94rem;
	margin-bottom: 4.4rem;
}
.sec1 aside .box-btns .btn {
	width: 48%;
	display: inline-block;
}
.sec1 aside .icon-screen {
	width: 1.8rem;
	margin-right: 0.6rem;
	vertical-align: bottom;
}
.sec1 aside .btn-reset {
	color: #c00000;
	text-indent: 0.8rem;
}
.sec1 aside ul {
	padding-right: 2.6rem;
}
.sec1 aside ul li {
	padding: 1.4rem 0;
	border-bottom: 2px solid #dcdcdc;
}
.sec1 aside ul li:first-child {
	border-top: 2px solid #dcdcdc;
}
.sec1 aside .title span {
	font-size: 1.78rem;
	line-height: 1.78rem;
}
.sec1 aside .title i {
	color: #bbbbbb;
	font-size: 3rem;
	line-height: 1rem;
	margin-right: -0.3rem;
}
.sec1 .box-select .select-item {
	font-size: 1.54rem;
	line-height: 1.54rem;
	margin: 1.8rem 0;
}
.sec1 aside input[type=checkbox] {
    visibility: hidden;
}
.sec1 aside input[type=checkbox] +label {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    right: 0.1rem;
    border: 1px solid #b5b5b5;
}
.sec1 aside input[type=checkbox]:checked +label::before {
    display: block;
    height: 100%;
    content: "";
    background: #c00000;
}
.sec1 .list-prod ul li {
	width: 24.077%;
	height: 20rem;
	margin: 0 0.44%;
	display: inline-block;
}


.modal-loading {
    top: 10%;
    background: none;
}
.loader {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-top: 0.2rem solid #c00000;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.box-link .link-story, .box-link .link-brand, .box-link .divider, .box-link .link-item:last-child {
	display: none!important;
}
