/* 2020/03/16 build */
.box-title {
	width: 88.4%;
	left: 11.6%;
}
.slash-m {
	width: 5.2rem;
	margin-bottom: 1%;
}
.box-title h2 {
	margin-left: 5.8%;
}
.btn {
	width: 13%;
	padding: 0.7% 0;
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.3rem;
	background: #494949;
}
.sec1 {
	margin-top: -15.8%;
}
.sec1 .box-title1 {
	top: 20.1%;
}
.sec1 .content1 {
	top: 43.8%;
}
.sec1 .box-prodsearch {
	width: 66.2%;
}
.sec1 .box-prodsearch input {
	padding: 1.4% 0;
	font-size: 1.4rem;
	line-height: 1.4rem;
}
.sec1 .box-prodsearch .prod-search {
	top: 0;
	right: 0;
}
.sec1 .box-keywords {
	padding: 1.5% 0;
	font-size: 1.2rem;
	line-height: 1.2rem;
}
.sec1 .box-keywords span {
	margin-left: 1rem;
}
.sec1 .box-keywords span:first-child {
	margin-left: 0;
}
.sec1 .btn-search {
	margin-top: 0.8%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 15%;
}
.sec2 .content2 {
	top: 34.2%;
}
.sec2 .select-item, .sec2 .select-item:first-child > div {
	display: inline-block;
}
.sec2 .select-item:first-child {
	width: 45%;
	margin-right: 1%;
}
.sec2 .select-item:first-child > div {
	width: 44.792%;
}
.sec2 .select-item:first-child > div:first-child {
	margin-right: 6%;
}
.sec2 .select-item:last-child {
	width: 20%;
}
.sec2 .select-item .area-cold {
	margin-bottom: 7.4%;
}
.sec2 .line {
	height: 0.4rem;
	background: #c00000;
	opacity: 0;
}
.sec2 .box-area {
	width: 66.2%;
	margin-top: 3%;
}
.sec2 .box-area select {
	padding: 1.6% 0;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-indent: 45%;
	background: #efefef;
}
.sec2 img {
	opacity: 0.5;
}
.sec2 .show img, .sec2 .show select {
	opacity: 1;
}
.sec2 .show .line {
	opacity: 1;
}
.sec2 .btn-submit {
	margin-top: 3.2%;
}
.sec3 {
	margin-top: -14%;
}
.sec3 .box-title3 {
	top: 12.8%;
}
.sec3 .content3 {
	top: 25.2%;
}
.sec3 .content3 > div {
	width: 21.042%;
	margin: 0 0.86%;
	display: inline-block;
}
.sec3 .content3 .btn-more {
	width: 61.388%;
	top: 50.2%;
	left: 19.306%;
}
.sec3 .content > div.shadow {
	-moz-box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
	-webkit-box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
	box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
}
.box-link .link-story, .box-link .link-moveeye, .box-link .divider, .box-link .link-item:last-child {
	display: none!important;
}
