/* 2020/03/07 build */
.sec0 .box-title0 {
	top: 53.5%;
	left: 10.4%;
}
.box-title {
	left: 10.4%;
}
.sec1 {
	margin-top: -14%;
}
.sec1 .box-title1 {
	top: 11.3%;
}
.sec1 .box-swiper {
	top: 29.2%;
}
.sec1 .box-swiper .swiper-slide img {
	width: 98%;
}
.sec1 .swiper1 .swiper-pagination1 {
	width: 79%;
	height: 4px;
	top: 99%;
	left: 10.5%;
	background: #fff;
}
.sec1 .swiper1 .swiper-pagination-progressbar {
	background: #ff0000;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 12%;
}
.sec2 .content2 {
	top: 31.5%;
}
.box-link .link-meq, .box-link .link-brand {
	display: none!important;
}
.sec0 .box-title0,
.sec1 .box-title1,
.sec1 .box-swiper,
.sec2 .box-title2,
.sec2 .content2 {
	opacity: 0;
}