/* 2020/03/12 build */
.sec0 {
	z-index: 1;
}
.box-title {
	width: 88.4%;
	left: 11.6%;
}
.box-title h2, .box-title .subtitle {
	margin-left: 5.8%;
}
.sec1 {
	margin-top: -14.2%;
}
.sec1 .box-title1 {
	top: 9.5%;
}
.sec1 .box-form {
	width: 26.4%;
	top: 28%;
	left: 16.8%;
}
.sec1 select {
	width: 38.4%;
	padding: 4.2% 0;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-indent: 6%;
	background: #ececec;
}
.sec1 select:first-child {
	margin-right: 4%;
}
.sec1 .btn-pos {
	width: 13.34%;
	vertical-align: bottom;
	display: inline-block;
}
.sec1 .box-result {
	margin-top: 11.4%;
	padding-right: 5%;
	height: 24.4rem;
	overflow-x: hidden;
	overflow-y: scroll;
}
.box-result::-webkit-scrollbar {
	width: 3px;
	background-color: #d1d1d1;
}
.box-result::-webkit-scrollbar-thumb {
	background-color: #313131;
}
.sec1 .box-result li {
	padding-left: 5%;
	border-bottom: 1px solid #ccc;
}
.sec1 .box-result li:first-child {
	border-top: 1px solid #ccc;
}
.sec1 .res-title {
	line-height: 4rem;
}
.sec1 .res-name {
	width: 70%;
	font-size: 1.4rem;
}
.sec1 .icon-loc {
	width: 1rem;
	margin-bottom: 1.3rem;
	margin-right: 4%;
	vertical-align: bottom;
}
.sec1 .res-distance {
	margin-right: 10%;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
}
.sec1 .res-detail {
	display: none;
}
.sec1 .res-city {
	color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
	line-height: 1rem;
}
.sec1 .res-more {
	padding-top: 1.2%;
	padding-bottom: 3.2%;
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.sec1 .btn-plus {
	width: 4.8%;
	top: 22%;
	right: 0;
}
.sec1 .map-box {
	width: 54.2%;
	top: 0;
	right: 0;
}
.sec2 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec2 .box-title2 {
	top: 6.5%;
}
.sec2 .content2 {
	top: 24.3%;
	left: 0;
}
.sec2 .box-form {
	width: 74.5%;
	top: 46%;
	left: 16.8%;
	/* opacity: 0.5; */
}
.sec2 select {
	width: 22.8%;
	padding: 1.2% 0;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-indent: 8%;
	background: #f2f2f2;
}
.sec2 select:first-child {
	margin-right: 2.2%;
}
.sec2 .btn-pos {
	width: 4.3%;
	vertical-align: top;
	display: inline-block;
}
.sec2 .box-result {
	margin-top: 2.8%;
	padding-right: 2%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.sec2 .box-result li {
	padding: 1.6% 0 1.6% 1%;
	line-height: 2rem;
	border-bottom: 1px solid #ccc;
}
.sec2 .box-result li:first-child {
	border-top: 1px solid #ccc;
}
.sec2 .res-title {
	width: 22%;
}
.sec2 .res-detail {
	width: 84%;
	display: inline-block;
}
.sec2 .res-name {
	font-size: 1.4rem;
}
.sec2 .icon-loc {
	width: 1.6rem;
	margin-top: -1%;
	margin-right: 2%;
	vertical-align: top;
}
.sec2 .res-city {
	color: #999;
	font-size: 1rem;
}
.sec2 .res-loc {
	width: 18%;
	font-size: 1.24rem;
}
.sec2 .res-phone {
	width: 24%;
	font-size: 1.24rem;
}
.sec2 .res-code {
	width: 28%;
	font-size: 1.24rem;
}
.sec2 .res-distance {
	color: #999;
	font-size: 1rem;
}
.box-more .divider, .box-more .fr.box-more-item {
	display: none!important;
}
.box-more .fl.box-more-item {
	float: none!important;
}
.box-link .link-meq, .box-link .link-brand, .box-link .divider, .box-link .link-item:last-child {
	display: none!important;
}
