<style>
	.box-link {
		margin-top: 12.6%;
	}
	.box-link .link-item {
		margin-top: 11%;
	}
	.box-link .link-item > div {
		width: 43%;
		display: inline-block;
	}
	.box-link .link-item > div:first-child {
		margin-right: 4.4%;
	}
	.box-link .btn-more-s {
		width: 79%;
		top: 78%;
		left: 10.5%;
	}
	.box-service {
		margin-top: 14.2%;
	}
	.box-service img {
		width: 58.8%;
	}
	.bg-grey {
		background: #e9e9e9;
	}
	.foot-menu {
		margin-top: 14.4%;
	}
	.foot-menu a {
		color: #000;
	}
	.foot-menu a:link {
		color: #000;
	}
	.foot-menu a:visited {
		color: #000;
	}
	.foot-menu a:hover {
		color: #000;
	}
	.foot-menu a:active {
		color: #000;
	}
	.foot-menu li {
		font-size: 1.2rem;
		line-height: 1.2rem;
	}
	.foot-menu li .label {
		padding: 1.3rem 1.8rem;
		border-bottom: 1px solid #a6a6a6;
	}
	.foot-menu li ul li {
		padding: 1.4rem 1.8rem;
		border-bottom: 1px solid #a1a1a1;
	}
	.foot-menu .icon-square {
		width: 0.3rem;
		height: 0.3rem;
		background: #b2b2b2;
		margin-top: 0.5rem;
		margin-right: 1rem;
		vertical-align: top;
		display: inline-block;
	}
	.foot-menu .icon-link {
		width: 1.1rem;
		margin-left: 1rem;
		margin-bottom: 0.05rem;
		vertical-align: bottom;
	}
	.copyright {
		padding: 0 1.8rem 15%;
		color: #fff;
		font-size: 1rem;
		line-height: 1.8rem;
		background: #666;
	}
	.copyright div {
		width: 140%;
		margin-left: -20%;
		transform: scale(0.72);
	}
	footer {
		display: -webkit-flex; /* 新版本语法: Chrome 21+ */
		display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
		display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
		display: -moz-box; /* 老版本语法: Firefox (buggy) */
		display: -ms-flexbox; /* 混合版本语法: IE 10 */
		z-index: 10;
	}
	.footer-item {
		-webkit-flex: 1;   /* Chrome */  
	    -ms-flex: 1       /* IE 10 */  
	    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
	    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
	}
	.footer-item:first-child {
		border-left: 1px solid transparent;
		border-right: 1px solid #fff;
	}
	.footer-item {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}
	.footer-item:last-child {
		border-left: 1px solid #fff;
		border-right: 1px solid transparent;
	}
	.box-link .linktitle,
	.box-link .link-item,
	.box-service {
		opacity: 0;
	}
</style>

<!-- link -->
<div class="box-link text-center">
	<!-- title -->
	<div class="linktitle">
		<img class="full-w" src="../img/mo/linktitle.png" alt="了解更多三菱电机空调">
	</div>
	<div class="link-item">
		<div>
			<img class="full-w" src="../img/link-qrcode.jpg" alt="二维码">
		</div>
		<div class="rel">
			<img class="full-w" src="../img/link-prod.jpg" alt="产品信息">
			<a href="m.prod.html" target="_self">
				<img class="btn-more-s abs" src="../img/mo/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
</div>
<!-- service -->
<div class="box-service text-center">
	<img src="../img/service.png" alt="客服热线">
</div>
<!-- foot menu -->
<ul class="foot-menu">
	<li>
		<a href="#" target="_blank">
			<div class="label bg-grey">会员登录</div>
		</a>
	</li>
	<li>
		<a href="#" target="_blank">
			<div class="label bg-grey">重要通知</div>
		</a>
	</li>
	<li>
		<a href="#" target="_blank">
			<div class="label bg-grey">招聘信息</div>
		</a>
	</li>
	<li>
		<div class="label bg-grey">相关链接</div>
		<ul class="hide">
			<a href="https://www.mitsubishielectric.co.jp/index.html" target="_blank">
				<li><i class="icon-square"></i>三菱电机株式会社<img class="icon-link" src="../img/mo/icon-link.png"></li>
			</a>
			<a href="https://www.mitsubishielectric.com/en/index.html" target="_blank">
				<li><i class="icon-square"></i>三菱电机全球<img class="icon-link" src="../img/mo/icon-link.png"></li>
			</a>
			<a href="https://www.mlc-cn.com/index/" target="_blank">
				<li><i class="icon-square"></i>三菱电机空调影像设备有限公司<img class="icon-link" src="../img/mo/icon-link.png"></li>
			</a>
		</ul>
	</li>
</ul>
<!-- copyright -->
<div class="copyright">
	<div>Copyright©2020 上海三菱电机•上菱空调机电器有限公司. All rights reserved.<br/>沪ICP备10028231号-1  沪公网安备 31011502004862号</div>
</div>
<footer class="fixed bottom left full-w bg-grey">
	<div class="footer-item item-story">
		<a href="m.story.html" target="_self">
			<img class="full-w" src="../img/mo/footer-story.png" alt="品牌">
		</a>
	</div>
	<div class="footer-item item-moveeye">
		<a href="m.moveeye.html" target="_self">
			<img class="full-w" src="../img/mo/footer-moveeye.png" alt="全城慧眼">
		</a>
	</div>
	<div class="footer-item item-prod">
		<a href="m.prod.html" target="_self">
			<img class="full-w" src="../img/mo/footer-prod.png" alt="产品">
		</a>
	</div>
	<div class="footer-item item-service">
		<a href="#" target="_self">
			<img class="full-w" src="../img/mo/footer-service.png" alt="客服">
		</a>
	</div>
	<div class="footer-item item-shop">
		<a href="m.support.html" target="_self">
			<img class="full-w" src="../img/mo/footer-shop.png" alt="门店网点">
		</a>
	</div>
</footer>

<script>
	$(function($) {
		// 淡入动画
		$.fadeUpAn($('.linktitle'));
		$.fadeUpAn($('.link-item'));
		$.fadeUpAn($('.box-service'));
		// scroll
		$(window).on('scroll', function() {
			$.fadeUpAn($('.linktitle'));
			$.fadeUpAn($('.link-item'));
			$.fadeUpAn($('.box-service'));
		});

		// hover
		$('.btn-more-s').on('touchstart', function() {
			$(this).attr('src', '../img/mo/btn-more-s-active.png');
		});

		// foot menu
		$('.foot-menu > li .label').on('click', function() {
			if($(this).next().length > 0) {
				$(this).next().stop(true, true).slideToggle();
				$(this).stop(true, true).toggleClass('bg-grey');
			};
		});
	});
</script>