<style>
	header {
		height: 6rem;
		background: #fff;
		z-index: 11;
	}
	header a:link {
		color: #000;
	}
	header a:visited {
		color: #000;
	}
	header a:hover {
		color: #000;
	}
	header a:active {
		color: #000;
	}
	header .box-logo {
		margin-left: 1.8rem;
	}
	header .box-nav {
		display: none;
	}
	header .btn-menu {
		margin-right: 0.6rem;
	}
	header .box-menu {
		width: 50%;
		top: 6rem;
		font-size: 1.2rem;
		line-height: 1.2rem;
		background: #e9e9e9;
	}
	header .box-menu > li {
		border-bottom: 1px solid #a1a1a1;
	}
	header .box-menu > li .label {
		padding: 1.2rem 1.4rem 1.2rem 2rem;
	}
	header .box-menu > li .icon-slide {
		font-size: 2rem;
	}
	header .rotate90 {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	header .box-menu > li ul li {
		padding: 1.1rem 2rem;
	}
	header .box-menu .icon-square {
		width: 0.3rem;
		height: 0.3rem;
		background: #a3a3a3;
		vertical-align: bottom;
		margin-right: 0.8rem;
		margin-bottom: 0.4rem;
		display: inline-block;
	}
	header .box-menu .icon-link {
		width: 1.2rem;
		vertical-align: bottom;
		margin-left: 0.6rem;
	}
</style>

<header class="fixed full-w top left">
	<!-- logo -->
	<div class="box-logo fl full-h">
		<a href="../index.html" target="_self">
			<img class="full-h" src="../img/mo/logo.png" alt="Misubishi Electric">
		</a>
		<h1>Misubishi Electric</h1>
	</div>
	<!-- menu -->
	<div class="btn-menu fr full-h">
		<img class="full-h" src="../img/mo/icon-menu.png" alt="menu">
	</div>
	<ul class="box-menu abs right hide">
		<li>
			<a href="m.home.html" target="_self">
				<div class="label">首页</div>
			</a>
		</li>
		<li>
			<a href="m.story.html" target="_self">
				<div class="label">品牌</div>
			</a>
		</li>
		<li>
			<div class="label">产品信息<span class="icon-slide fr rotate90">&#155;</span></div>
			<ul>
				<a href="#" target="_blank">
					<li><i class="icon-square"></i>家用空调</li>
				</a>
				<a href="#" target="_blank">
					<li><i class="icon-square"></i>商用空调</li>
				</a>
			</ul>
		</li>
		<li>
			<a href="#" target="_blank">
				<div class="label">支持</div>
			</a>
		</li>
		<li>
			<a href="#" target="_blank">
				<div class="label">网点</div>
			</a>
		</li>
		<li>
			<a href="#" target="_blank">
				<div class="label">新闻</div>
			</a>
		</li>
		<li>
			<a href="m.about.html" target="_self">
				<div class="label">公司信息</div>
			</a>
		</li>
		<li>
			<a href="#" target="_blank">
				<div class="label">会员登录</div>
			</a>
		</li>
	</ul>
	<!-- search -->
	<div class="box-search fr full-h">
		<img class="full-h pointer" src="../img/mo/icon-search.png" alt="search">
	</div>
</header>

<script>
	$(function($) {
		// mo search
		$('.search').on('click', function() {
			// alert('暂无搜索功能');
		});
	
		// mo menu
		$('header .btn-menu').on('click', function() {
			$('.box-menu').stop(true, true).slideToggle();
		});

		// list menu
		$('header .box-menu > li').on('click', function() {
			if($(this).find('ul').length > 0) {
				$(this).find('ul').stop(true, true).slideToggle();
				$(this).find('.icon-slide').stop(true, true).toggleClass('rotate90');
			};
		});
	});
</script>