/* 2020/03/11 build */
.box-banner {
	z-index: 2;
}
.section {
	padding: 0 4.8%;
}
.section1 {
	margin-top: -14%;
}
.section1 .swiper-button-prev, .section1 .swiper-button-next {
	width: 14.4%;
	height: 5%;
	top: 47.8%;
	background-size: auto 100%;
}
.section1 .swiper-button-prev {
	left: 0;
}
.section1 .swiper-button-next {
	right: 0;
}
.section1 .swiper-pagination {
	bottom: 11.4%;
}
.section1 .swiper-pagination .swiper-pagination-bullet {
	width: 0.92rem;
	height: 0.92rem;
	margin: 0 1rem;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}
.section1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #5d5d5d;
}
.section2 {
	margin-top: -14.2%;
	z-index: 2;
}
.section2 .swiper-box {
	top: 23%;
	left: 0%;
}
.section2 .btns {
	width: 150%;
	padding-left: 3.4%;
}
.section2 .btns .btn {
	width: 14.4%;
	display: inline-block;
}
.section2 .btns .btn img {
	opacity: 0.5;
}
.section2 .btns .btn.active img {
	opacity: 1;
}
.section2 .btns .btn .line {
	width: 40%;
	height: 2px;
	background: #ff0000;
	display: none;
}
.section2 .btns .btn.active .line {
	display: block;
}
.section3 {
	margin-top: -14%;
}
.section4 {
	margin-top: -14.4%;
	z-index: 2;
}
.section4 .swiper-box {
	width: 90.4%;
	height: 74.4%;
	top: 17%;
	left: 4.8%;
}
.section4 .swiper-button-prev, .section4 .swiper-button-next {
	width: 12%;
	height: 8%;
	top: 8%;
}
.section4 .swiper-button-prev {
	left: 0.4%;
	background: url('../../img/mo/about/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.section4 .swiper-button-next {
	right: 0.4%;
	background: url('../../img/mo/about/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.section4 .slide-title, .section4 .slide-content {
	border-bottom: 1px solid #000;
}
.section4 .slide-item:last-child .slide-content {
	border-bottom: none;
}
.section4 .plus {
	width: 13%;
	top: 0;
	right: 0;
}
.section4 .plus .divider {
	background: #000;
}
.section4 .plus .divider1 {
	width: 46%;
	height: 1px;
	margin-top: 54%;
}
.section4 .plus .divider2 {
	width: 1px;
	height: 46%;
	top: 30%;
	left: 50%;
}
.section4 .slide-content, .hide {
	display: none;
}
.section4 .swiper-pagination {
	bottom: 0.1%;
}
.section4 .swiper-pagination .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 0.66rem!important;
	background: #cdcdcd;
	border-radius: 0;
	opacity: 1;
}
.section4 .swiper-pagination .swiper-pagination-bullet-active {
	background: #5d5d5d;
}

