/* 2020/02/27 build */
.sec0 .btn-play {
	width: 29.2%;
	top: 44%;
	left: 11.2%;
}
.sec0 .swiper-button-prev, .box-banner .swiper-button-next {
	width: 8%;
	height: 14.8%;
	top: 48.2%;
}
.sec0 .swiper-button-prev {
	left: -0.5%;
	background: url('../../img/mo/home/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec0 .swiper-button-next {
	right: -0.5%;
	background: url('../../img/mo/home/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.box-title {
	left: 0;
}
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec1 {
	margin-top: -14%;
	z-index: 1;
}
.sec1 .box-title1 {
	top: 7.5%;
}
.sec1 .title1 {
	margin-bottom: 8.6%;
}
.sec1 .box-other {
	top: 46.6%;
}
.other-item {
	width: 43%;
	display: inline-block;
}
.other-item:first-child {
	margin-right: 4.4%;
}
.box-other .btn-more-s {
	width: 79%;
	top: 78%;
	left: 10.5%;
}
.sec1 .box-zykt {
	margin-top: 11.2%;
}
.sec1 .box-zykt img {
	width: 47%;
}
.sec2 {
	margin-top: -14%;
	z-index: 1;
}
.sec2 .box-title2-1 {
	top: 10.6%;
}
.sec2 .slash2 {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec2 .title2-1 {
	margin-bottom: 8.8%;
}
.sec2 .box-video {
	top: 50.3%;
}
.sec2 .box-video iframe {
	width: 90%;
}
iframe {
	height: 20rem;
}
.sec2 .box-title2-2 {
	top: 47.4%;
}
.sec2 .title2-2 {
	margin-bottom: 8.2%;
}
.btn-more-l {
	width: 47.4%;
	left: 26.3%;
}
.sec2 .btn-more-l {
	top: 86.8%;
}
.sec3 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec3 .box-title3 {
	top: 6.6%;
}
.sec3 .title3 {
	margin-bottom: 9.4%;
}
.sec4 {
	margin-top: -14%;
	z-index: 1;
}
.sec3 .btn-more-l {
	top: 82%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	top: 9%;
}
.sec4 .slash4 {
	margin-bottom: 10%;
}
.sec4 .title4 {
	margin-bottom: 10%;
}
.sec4 .btn-more-l {
	top: 69%;
}
.sec5 {
	margin-top: 18.6%;
}
.sec5 .box-other {
	margin-top: 9%;
}
.sec5 .divider {
	width: 32%;
	height: 2px;
	margin-top: 14%;
	background: #d3d3d3;
}
.modal .content {
	width: 90%;
}
.modal .btn-close {
	width: 16%;
	margin-top: 6%;
	margin-bottom: 30%;
}
.sec1 .box-title1,
.sec1 .box-other,
.sec1 .box-zykt,
.sec2 .box-title2-1,
.sec2 .box-video,
.sec2 .box-title2-2,
.sec2 .btn-more-l,
.sec3 .box-title3,
.sec3 .btn-more-l,
.sec4 .box-title4,
.sec4 .btn-more-l,
.sec5 .othertitle,
.sec5 .box-other,
.sec5 .divider {
	opacity: 0;
}
