/* 2020/03/01 build */
.sec1 {
	margin-top: -14%;
}
.box-title {
	left: 0;
}
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec1 .box-title1-1 {
	top: 6.7%;
}
.sec1 .title1-1 {
	margin-bottom: 11.4%;
}
.sec1 .divider {
	width: 32%;
	height: 2px;
	top: 46%;
	left: 34%;
	background: #d8e3e7;
}
.sec1 .box-title1-2 {
	top: 52.8%;
}
.width50 {
	width: 50%;
}
.sec1 .content1 {
	top: 61%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 8.8%;
}
.sec2 .title2 {
	margin-bottom: 10.6%;
}
.sec3 {
	margin-top: -14%;
}
.sec3 .box-title3 {
	top: 8.4%;
}
.sec3 .title3 {
	margin-bottom: 10.6%;
}
.sec4 {
	margin-top: -14%;
}
.sec4 .box-title4 {
	top: 9.7%;
}
.sec4 .title4 {
	margin-bottom: 10.6%;
}
.sec5 {
	margin-top: -14%;
}
.sec5 .box-title5 {
	top: 10.7%;
}
.sec5 .title5 {
	margin-bottom: 10.8%;
}
.sec6 {
	margin-top: 15.2%;
}
.sec6 .othertitle {
	margin-bottom: 9.4%;
}
.sec6 .other-item {
	width: 43%;
	display: inline-block;
}
.sec6 .other-item:first-child {
	margin-right: 4.4%;
}
.sec6 .btn-more-s {
	width: 79%;
	top: 78%;
	left: 10.5%;
}
.sec6 .divider {
	width: 32%;
	height: 2px;
	margin-top: 14%;
	background: #d3d3d3;
}
.sec1 .box-title1-1,
.sec1 .divider,
.sec1 .box-title1-2,
.sec1 .content1,
.sec2 .box-title2,
.sec3 .box-title3,
.sec4 .box-title4,
.sec5 .box-title5,
.sec6 .othertitle,
.sec6 .box-other,
.sec6 .divider {
	opacity: 0;
}
