/* 2020/03/01 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec0 .title0 {
	margin-bottom: 9%;
}
.sec0 .box-swiper {
	top: 28.8%;
}
.swiper-container .swiper-slide img {
	width: 130%;
	margin-left: -15%;
}
.swiper-container .swiper-pagination {
	bottom: 0.6%;
}
.swiper-pagination .swiper-pagination-bullet {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 0.9rem!important;
	border-radius: 0;
	background: #d3d3d3;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background: #ff0000;
}
.sec1 {
	margin-top: -14%;
}
.sec1 .box-title1-1 {
	top: 8.8%;
}
.sec1 .content1-1 {
	top: 32.1%;
}
.sec1 .box-title1-2 {
	top: 12.6%;
}
.sec1 .title1-2 {
	margin-bottom: 3%;
}
.sec1 .content1-2 {
	top: 27%;
}
.sec1 .content1-2 img {
	width: 90%;
}
.sec1 .subtitle1-3 {
	top: 72%;
}
.sec1 .text {
	width: 11.2%;
	top: 26.8%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 3.8%;
}
.sec2 .content2-1 {
	top: 13.3%;
}
.sec2 .content2-2 {
	top: 41.7%;
}
.sec2 .content2-3 {
	top: 67.7%;
}
.sec2 .btn-check {
	width: 47.4%;
	left: 26.3%;
}
.sec2 .content2-1 .btn-check {
	top: 82.4%;
}
.sec2 .content2-2 .btn-check {
	top: 80%;
}
.sec2 .content2-3 .btn-check {
	top: 79.8%;
}
.sec3 {
	margin-top: 21.4%;
}
.sec3 .box-other {
	margin-top: 9%;
}
.sec3 .other-item {
	width: 43%;
	display: inline-block;
}
.sec3 .other-item:first-child {
	margin-right: 4.4%;
}
.sec3 .btn-more-s {
	width: 79%;
	top: 78%;
	left: 10.5%;
}
.sec3 .divider {
	width: 32%;
	height: 2px;
	margin-top: 14%;
	background: #d3d3d3;
}
.sec0 .box-title0,
.sec0 .box-swiper,
.sec1 .box-title1-1,
.sec1 .content1-1 img,
.sec1 .box-title1-2,
.sec1 .title1-2,
.sec1 .content1-2,
.sec1 .subtitle1-3,
.sec2 .box-title2,
.sec2 .content2-1,
.sec2 .content2-2,
.sec2 .content2-3,
.sec3 .othertitle,
.sec3 .box-other,
.sec3 .divider {
	opacity: 0;
}
