/* 2020/03/17 build */
.section1 {
	margin-top: -14.4%;
}
.section1 .content1 {
	top: 37.4%;
}
.section1 .box-prodsearch {
	width: 84.2%;
}
.section1 .box-prodsearch input {
	padding: 3.96% 0;
	font-size: 1rem;
	line-height: 1rem;
}
.section1 .box-prodsearch .prod-search {
	top: 0;
	right: 0;
}
.section1 .box-keywords {
	padding: 5.2% 0;
	font-size: 1rem;
	line-height: 2rem;
}
.section1 .box-keywords span {
	margin-left: 1rem;
}
.section1 .box-keywords span:first-child {
	margin-left: 0;
}
.btn {
	width: 42%;
	padding: 2.6% 0;
	color: #fff;
	font-size: 1.2rem;
	line-height: 1.2rem;
	background: #494949;
}
.section1 .btn-search {
	margin-top: 3.8%;
}
.section2 {
	margin-top: -14.2%;
	z-index: 2;
}
.section2 .type-item, .section2 .areatype-item {
	width: 42.4%;
	display: inline-block;
}
.section2 .type-item:first-child, .section2 .areatype-item:first-child {
	margin-right: 5%;
}
.section2 .box-areatype {
	margin-top: 12.4%;
}
.section2 .box-area {
	width: 90%;
	margin-top: 11.6%;
}
.section2 .box-area select {
	font-size: 1.2rem;
	line-height: 1.2rem;
	text-indent: 45%;
	background: #efefef;
	padding: 4.4% 0;
}
.section2 .line {
	height: 0.3rem;
	bottom: 0;
	left: 0;
	background: #c00000;
}
.section2 .box-area .line {
	display: block;
}
.section2 .opacity img {
	opacity: 0.5;
}
.section2 .opacity div {
	display: none;
}
.section2 .btn-submit {
	margin-top: 13.8%;
}
.section3 {
	margin-top: -14%;
}
.section3 .swiper-button-prev, .section3 .swiper-button-next {
	width: 8%;
	height: 8%;
	top: 45.6%;
}
.section3 .swiper-button-prev {
	left: 2%;
	background: url('../../img/mo/prod/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.section3 .swiper-button-next {
	right: 2%;
	background: url('../../img/mo/prod/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.section3 .swiper-container .swiper-pagination {
	bottom: 12.4%;
}
.section3 .swiper-pagination .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem!important;
	border-radius: 0;
	background: #fff;
	opacity: 1;
}
.section3 .swiper-pagination .swiper-pagination-bullet-active {
	background: #ff0000;
}
.btn-prod {
	width: 47%;
	top: 48.5%;
	left: 26.5%;
}
.section4 {
	margin-top: -14.2%;
	z-index: 2;
}
.section5 {
	margin-top: -14.8%;
}
