/* 2020/03/20 build */
.section1 {
	margin-top: -14%;
}
.section1 .btn-screen {
	width: 32%;
	bottom: 0;
	right: 0;
}
.section1 ul {
	margin-top: 14%;
}
.section1 ul li {
	width: 49.8%;
	margin-bottom: 12%;
	vertical-align: top;
	display: inline-block;
}
.section1 ul .divider {
	height: 24rem;
	border-left: 1px dashed #ccc;
	vertical-align: top;
	display: inline-block;
}
.section1 ul .prod-name {
	font-size: 1.32rem;
	line-height: 1.6rem;
}
.section1 ul .prod-tag {
	width: 80%;
	margin-top: 7%;
}
.section1 ul .tag {
	width: 21.09%;
	margin: 3% 1.4% 0;
}
.modal {
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 12;
	overflow: scroll;
	display: none;
}
.modal .content {
	margin-left: 14%;
	padding: 8% 4.6% 15%;
	background: #fff;
}
.modal .content .content-item {
	margin-top: 3.6%;
}
.modal .title {
	font-size: 1.32rem;
	line-height: 3.8rem;
}
.modal .select-item {
	width: 48.5%;
	font-size: 1.28rem;
	line-height: 3.1rem;
	margin-bottom: 4.5%;
	background: #e5e5e5;
	display: inline-block;
}
.modal .select-item:nth-child(odd) {
	margin-right: 2.6%;
}
.modal .select-item .line {
	bottom: 0;
	left: 0;
	height: 0.2rem;
	background: #c00000;
	display: none;
}
.modal .select-item .btn-close {
	width: 5.8%;
	top: 0;
	right: 0;
	display: none;
}
.modal .select-item.selected {
	background: #f9e5e5;
}
.modal .select-item.selected .line, .modal .select-item.selected .btn-close {
	display: block;
}
.modal .box-btns {
	margin-top: 20%;
}
.modal .box-btns > div {
	width: 48%;
	font-size: 1.2rem;
	display: inline-block;
}
.modal .box-btns .btn-reset {
	line-height: 4rem;
	margin-right: 2.2%;
	border: 1px solid #c00000;
}
.modal .box-btns .btn-submit {
	color: #fff;
	line-height: 4.2rem;
	background: #000;
}
