/* 2020/02/29 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec0 .box-title0 {
	top: 55%;
}
.sec0 .title0 {
	margin-bottom: 5.2%;
}
.swiper-container .swiper-slide img {
	width: 130%;
	margin-left: -15%;
}
.swiper-container .swiper-pagination {
	bottom: 0.6%;
}
.swiper-pagination .swiper-pagination-bullet {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 0.9rem!important;
	border-radius: 0;
	background: #fff;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background: #ff0000;
}
.sec1 {
	margin-top: -14%;
}
.sec1 .box-title1 {
	top: 6.2%;
}
.sec1 .box-swiper {
	top: 28%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 6.8%;
}
.sec2 .box-swiper {
	top: 28.8%;
}
.sec3 {
	margin-top: 18%;
}
.sec3 .box-other {
	margin-top: 9%;
}
.sec3 .other-item {
	width: 43%;
	display: inline-block;
}
.sec3 .other-item:first-child {
	margin-right: 4.4%;
}
.sec3 .btn-more-s {
	width: 79%;
	bottom: 5.6%;
	left: 10.5%;
}
.sec3 .divider {
	width: 32%;
	height: 2px;
	margin-top: 13.6%;
	background: #d3d3d3;
}
.sec0 .box-title0,
.sec1 .box-title1,
.sec1 .box-swiper,
.sec2 .box-title2,
.sec2 .box-swiper,
.sec3 .othertitle,
.sec3 .box-other,
.sec3 .divider {
	opacity: 0;
}
