/* 2020/03/19 build */
.section1 {
	margin-top: -14%;
}
select {
	border: none;
}
.section1 select {
	padding: 3.2% 0;
	font-size: 1.2rem;
	line-height: 1.2rem;
	text-indent: 4%;
	background: #ececec;
}
.section1 select:first-child {
	width: 36.2%;
	margin-left: 8%;
}
.section1 select:nth-child(2) {
	width: 37.2%;
	margin-left: 3.4%;

}
.section1 .btn-pos {
	width: 10.8%;
	vertical-align: top;
	display: inline-block;
}
.section1 .box-swiper {
	margin-top: 9.8%;
}
.section1 .result {
	padding: 0 2.8%;
	margin-bottom: 15.6%;
}
.section1 .result li {
	padding: 7% 5.2%;
	border-bottom: 1px solid #ccc;
}
.section1 .result li:first-child {
	border-top: 1px solid #ccc;
}
.section1 .res-name {
	width: 66%;
	font-size: 1.4rem;
	line-height: 2.1rem;
}
.section1 .icon-loc {
	width: 1.1rem;
	margin: 0 2% 0.8% 0;
	vertical-align: bottom;
}
.section1 .res-distance {
	margin-right: 8%;
	color: #999;
	font-size: 1rem;
	line-height: 2.2rem;
}
.section1 .res-detail {
	margin-top: 4%;
}
.section1 .res-city {
	color: #999;
	font-size: 1rem;
	line-height: 1.2rem;
}
.section1 .res-more {
	margin-top: 2%;
	font-size: 1rem;
	line-height: 1.6rem;
}
.section1 .icon-plus {
	width: 5%;
	top: 49%;
	right: 5%;
}
.section1 .swiper-pagination {
	bottom: 0;
}
.section1 .swiper-pagination .swiper-pagination-bullet {
	width: 0.94rem;
	height: 0.94rem;
	margin: 0 1rem!important;
	background: #cdcdcd;
	border-radius: 0;
	opacity: 1;
}
.section1 .swiper-pagination .swiper-pagination-bullet-active {
	background: #5d5d5d;
}
.section2 {
	margin-top: 10.2%;
}
.section2 .content22 {
	background: #e5e5e5;
}
.section2 select {
	padding: 3.2% 0;
	font-size: 1.2rem;
	line-height: 1.2rem;
	text-indent: 4%;
	background: #ececec;
}
.section2 select:first-child {
	width: 36.2%;
	margin-left: 8%;
}
.section2 .btn-pos {
	width: 10.8%;
	vertical-align: top;
	display: inline-block;
}
.section2 select:nth-child(2) {
	width: 37.2%;
	margin-left: 3.4%;

}
.section2 .box-swiper {
	margin-top: 11.8%;
}
.section2 .result {
	padding: 0 2.8%;
	margin-bottom: 14%;
}
.section2 .result li {
	padding: 5.8% 5.2%;
	border-bottom: 1px solid #ccc;
}
.section2 .result li:first-child {
	border-top: 1px solid #ccc;
}
.section2 .res-name {
	width: 66%;
	font-size: 1.4rem;
	line-height: 2.1rem;
}
.section2 .icon-loc {
	width: 1.1rem;
	margin: 0 2% 0.8% 0;
	vertical-align: bottom;
}
.section2 .res-distance {
	margin-right: 4%;
	color: #999;
	font-size: 1rem;
	line-height: 2.2rem;
}
.section2 .res-detail {
	margin-top: 4%;
}
.section2 .res-city {
	color: #999;
	font-size: 1rem;
	line-height: 1.2rem;
}
.section2 .res-more {
	margin-top: 2%;
	font-size: 1rem;
	line-height: 1.6rem;
}
.section2 .icon-plus {
	width: 5%;
	top: 49%;
	right: 5%;
}
.section2 .swiper-pagination {
	bottom: 0;
}
.section2 .swiper-pagination .swiper-pagination-bullet {
	width: 0.94rem;
	height: 0.94rem;
	margin: 0 1rem!important;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}
.section2 .swiper-pagination .swiper-pagination-bullet-active {
	background: #5d5d5d;
}
.modal {
	top: 0;
	left: 0;
	display: none;
}
.modal .shopmap {
	width: 92%;
	height: 66%;
	margin-top: 10%;
	border-radius: 5px;
}
.modal .btn-close {
	width: 12%;
	margin-top: 1rem;
}