/* 2020/04/15 build */

#mtest .screenInner .mouseMove {
    position: absolute;
    top: 50px;
    height: 261px;
    width: 100%;
    background: url('../../img/mo/test/moseBg.png') repeat;
    cursor: pointer;
    z-index: 3;
}

#mtest .screenInner .silderWrap_height .mouseMove {
    top: 0px;
}

#mtest .screenInner .silderWrap_height .mouseMove {
    height: 473px;
}

#mtest .screenInner .mouseMove img {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
}

#mtest .screenInner .silder02 {
    display: none;
}

#mtest .screenInner .silder03 {
    display: none;
}

#mtest .screenInner .left {
    width: 60%;
    float: left;
}

#mtest .screenInner .right {
    width: 40%;
    float: left;
}

#mtest .screenInner .right h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    padding-top: 10px;
}

#mtest .screenInner .right h4 span {
    font-size: 14px;
}

#mtest .screenInner .silderWrap {
    padding-top: 50px;
    position: relative;
    /*height:261px;*/
}

#mtest .screenInner .silderWrap.silderWrap_height {
    padding-top: 0px;
    padding-bottom: 73px;
}

#mtest .screenInner .silderWrap.silderWrap_height .silder img {
    margin: auto;
}

#mtest .screenInner .silderBlock {
    visibility: hidden;
}

#mtest .screenInner .silderBlock.silderBlock_one {
    visibility: visible;
    padding-top: 30px;
}

#mtest .screenInner .silderWrap .imgWrap {
    height: 261px;
    position: relative;
}

#mtest.mtest01 .screenInner .silderWrap .imgWrap {
    height: 200px;
}

#mtest.cede .screenInner .silderWrap .imgWrap {
    height: 200px;
}

#mtest .screenInner .silderWrap.silderWrap_height .imgWrap {
    /*height: 311px;*/
    height: 530px;
}

#mtest .screenInner .silder img {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0;
}

#mtest .screenInner .rotate {
    width: 123px;
    height: 148px;
    position: relative;
    background: url(../images/rotatebg.png) no-repeat top left;
    visibility: hidden;
}

#mtest .screenInner .rotate p {
    position: absolute;
    right: -96px;
    bottom: 9px;
    font-size: 16px;
}

#mtest .screenInner .silderWrap_height .rotate {
    /* position: absolute;
    bottom: 0px;
    z-index: 4; */
}

#mtest .screenInner .rotateImg {
    position: absolute;
    /*left: 101px;
    top: 110px;*/
    width: 30px;
    height: 30px;
    background: url(../images/rotate.png) no-repeat center center;
    cursor: pointer;
    left: 50px;
    top: 96px;
}

#mtest .screenInner .h {
    border-bottom: 1px solid #dddddd;
}

#mtest .screenInner .h h3 {
    font-size: 26px;
    line-height: 38px;
    color: #000;
    font-weight: normal;
    padding-bottom: 14px;
}

#mtest .efficiency {
    padding-bottom: 24px;
}

#mtest .eff_ele {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    width: 117px;
    height: 38px;
    background: #1c794b;
    color: #ffffff;
    text-align: center;
    padding: 4px 0;
}

#mtest .eff_ele .p1 {
    font-size: 13px;
    line-height: 21px;
}

#mtest .eff_ele .p1 span {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
}

#mtest .eff_ele .p2 {
    font-size: 12px;
    line-height: 12px;
}

#mtest .screenInner .single .h h3 {
    float: left;
}

#mtest .single .efficiency {
    float: right;
}

#mtest .single .eff_ele {
    margin-right: 0px;
    margin-left: 10px;
    height: 28px;
}

#mtest .single .eff_ele .p1 {
    line-height: 28px;
}

#mtest .screenInner .pCon {
    padding-top: 38px;
    padding-bottom: 25px;
}

#mtest .screenInner .pCon p {
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

#mtest .screenInner .pCon img {
    padding-top: 25px;
}

#mtest .screenInner .component {
    border-top: 1px solid #dddddd;
}

#mtest .screenInner .component .comEle {
    border-bottom: 1px solid #dddddd;
}

#mtest .screenInner .comInenr {
    padding: 18px 16px;
}

#mtest .screenInner .comInenr p {
    font-size: 18px;
    color: #000;
}

#mtest .screenInner .comEle_alink a:hover p {
    color: #801e20;
}

#mtest .screenInner .comInenrColor {
    position: relative;
    padding-left: 86px;
}

#mtest .screenInner .comInenr.comInenrColor p {
    position: absolute;
    top: 18px;
    left: 16px;
}

#mtest .screenInner .comEle .hid {
    padding: 10px 16px;
    display: none;
}

#mtest .screenInner .comEle .hid p {
    font-size: 18px;
    color: #000;
    line-height: 30px;
}

#mtest .screenInner .comEle .hid p:hover {
    text-decoration: underline;
}

#mtest .screenInner .color {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: top;
}

#mtest .screenInner .color img {
    width: 100%;
    height: 100%;
}

#mtest .screenInner .hasHid .comInenr p {
    background: url(../images/plus02.png) no-repeat right center;
}

#mtest .screenInner .hasHid .comInenr.active p {
    background-image: url(../images/reduce02.png);
}

#mtest .screenInner .hasHid .comInenr {
    cursor: pointer;
}

#mtest .nav {
    position: absolute;
    /* top: 78px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dddddd;
}

#mtest .nav .left {
    float: left;
    height: 100%;
}

#mtest .nav .right {
    float: right;
    height: 100%;
}

#mtest .navInner p {
    font-size: 14px;
    line-height: 50px;
    color: #000;
}

#mtest .navInner .left p {
    padding-right: 32px;
}

#mtest .nav .left p {
    background: url(../images/nav_icon01.png) no-repeat right center;
    cursor: pointer;
}

#mtest .nav .left p:hover {
    color: #801e20;
    background-image: url(../images/nav_icon02.png);
}

#mtest .nav .left p.active {
    color: #801e20;
    background-image: url(../images/nav_icon02.png);
}

#mtest .navInner p span {
    color: #000;
}

#mtest .navInner p a:hover span {
    color: #801e20;
}

#mtest .nav_hid {
    position: absolute;
    width: 100%;
    top: 51px;
    background: #fff;
    display: none;
    z-index: 10;
}

#mtest .navMenu {
    width: 25%;
    float: left;
    height: 238px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

#mtest .nav_hid2 .navMenu {
    height: 310px;
}

#mtest .nav_hid2 .navMenu .imgWrap {
    height: 172px;
    padding-top: 32px;
}

#mtest .nav_hid2 .navMenu .eleFont {
    padding-top: 13px;
}

#mtest .navMenuInner {
    height: 100%;
    border-right: 1px solid #e4e4e4;
}

#mtest .navMenu:hover {
    background: #eeeeee;
}

#mtest .navMenu .imgWrap {
    padding-top: 16px;
    height: 100px;
    position: relative;
}

#mtest .navMenu .imgWrap img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: 0;
    max-width: 70%;
    max-height: 90%;
    display: none;
}

#mtest .navMenu .imgWrap img.pro01 {
    display: block;
}

#mtest .navMenu .eleFont {
    padding-top: 25px;
}

#mtest .navMenu .eleFont .p2 {
    color: #000;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 12px;
    font-weight: bold;
}

#mtest .navMenu .color {
    width: 100%;
    text-align: center;
}

#mtest .navMenu .colfont {
    display: inline-block;
    height: 18px;
}

#mtest .navMenu .colEle {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 2px;
    cursor: pointer;
}

#mtest .navMenu .colEle img {
    width: 100%;
    height: 100%;
}

#mtest .section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#mtest .section.section01 {
    height: 800px;
    overflow: hidden;
}

#mtest .section.section01 .imgWrap {
    height: 100%;
}

#mtest .section .imgWrap {
    width: 100%;
}

#mtest .section .imgWrap img {
    width: 100%;
    display: block;
}

.mtest06 .section3 .imgEffe {
    position: relative;
    height: 800px;
    overflow: hidden;
}

#mtest.mtest06 .section.section3 .imgWrap {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.mtest06 .section3 .effeDon {
    position: absolute;
    top: 9%;
    right: -17%;
}

.mtest06 .section3 .effeDon .effe02 {
    position: absolute;
    top: 112px;
    right: 86px;
    transform: rotate(3deg);
    transform-origin: top center;
    -ms-transform: rotate(3deg);
    -ms-transform-origin: top right;
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: top center;
    -moz-transform: rotate(3deg);
    -moz-transform-origin: top center;
    -o-transform: rotate(3deg);
    -o-transform-origin: top center;
    animation: rotation3 18s linear infinite;
    -moz-animation: rotation3 18s linear infinite;
    -webkit-animation: rotation3 18s linear infinite;
    -o-animation: rotation3 18s linear infinite;
}

#mtest .section.video .imgWrap .img01 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#mtest .section.video .videoWrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
}

#mtest .sectionInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 53%;
    margin: 0 auto;
}

#mtest.mtest11 .sectionInner {
    width: 64%;
}


/*#mtest.mtest12 .sectionInner{
    width:57%;
}*/

#mtest.mtest05 .sectionInner {
    width: 66%;
}

#mtest.mtest05 .section2 .font {
    /*width: 444px;*/
    padding-top: 80px;
}

#mtest .section01 .effe {
    position: absolute;
    top: 87px;
    right: 27%;
}

#mtest .section01 .effe_light {
    position: absolute;
    bottom: -85px;
    right: -150px;
    transform: rotate(30deg);
    transform-origin: top center;
    /*定义动画的旋转中心点*/
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -ms-transform-origin: top center;
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Safari 和 Chrome */
    -webkit-transform-origin: top center;
    /* Safari 和 Chrome */
    -moz-transform: rotate(30deg);
    /* Firefox */
    -moz-transform-origin: top center;
    /* Firefox */
    -o-transform: rotate(30deg);
    /* Opera */
    -o-transform-origin: top center;
    /* Opera */
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
    /*animation: rotation 6s linear infinite;
    -moz-animation: rotation 6s linear infinite;
    -webkit-animation: rotation 6s linear infinite;
    -o-animation: rotation 6s linear infinite;*/
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

@-moz-keyframes rotation
/* Firefox */

{
    0% {
        -webkit-transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

@-webkit-keyframes rotation
/* Safari 和 Chrome */

{
    0% {
        -webkit-transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

@-o-keyframes rotation
/* Opera */

{
    0% {
        -webkit-transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

#mtest .section .font {
    padding-top: 66px;
    /*width: 315px;*/
    width: 50%;
}

#mtest .section .font.font_ban {
    width: 50%;
}

#mtest .section.odd .font {
    float: left;
}

#mtest .section.even .font {
    float: right;
}

#mtest .section .font h3 {
    font-size: 28px;
    line-height: 40px;
    color: #000;
    font-weight: normal;
}

#mtest .section .font.color_fff h3 {
    color: #ffffff;
}

#mtest .section .font .p {
    padding-top: 30px;
    padding-bottom: 30px;
}

#mtest .section .font p {
    line-height: 30px;
    font-size: 18px;
    color: #000;
}

#mtest .section .font .p_small p {
    font-size: 14px;
    line-height: 28px;
}

#mtest .section .font.color_fff p {
    color: #ffffff;
    text-align: justify;
}

#mtest .section .font p span {
    font-size: 14px;
}

#mtest .section .font .more {
    cursor: pointer;
    width: 68px;
    padding-right: 26px;
    background: url(../images/next.png) no-repeat right center;
}

#mtest .section .font.color_fff .more {
    background-image: url(../images/next_fff.png);
}

#mtest .section .font .more p {
    font-size: 16px;
    color: #000;
    line-height: 26px;
}

#mtest .section .font a:hover .more p {
    text-decoration: underline;
}

#mtest .section .font.color_fff .more p {
    color: #ffffff;
}

#mtest .section .effe {
    position: absolute;
}

#mtest .section .effe img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#mtest.mtest11 .section1 .effe img {
    left: auto;
    right: 0px;
}

.mtest11 .section1 .effe.effe_xfj_s01 {
    top: 19%;
    right: 3%;
    width: 62%;
}

#mtest .section .effe img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#mtest .section .effe02Wrap {
    position: relative;
    width: 100%;
    height: 0px;
    overflow: hidden;
}

#mtest .section .effe02Wrap_01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#mtest .section .effe02Wrap2 {
    position: relative;
    width: 0px;
    height: 100%;
    overflow: hidden;
}

#mtest.mtest11 .section1 .effe02Wrap2 {
    float: right;
}

#mtest .sectionMore {
    height: 30px;
    background: #515151;
    text-align: center;
}

#mtest .sectionMore p {
    padding: 0px 0px;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
}

#mtest .sectionMore a:hover p {
    color: #bd021c;
}

.mtest01 .section1 .effe {
    width: 222px;
    top: 22%;
    left: 37%;
}

.mtest01 .section2 .effe {
    position: absolute;
    width: 35%;
    right: 20%;
    top: 17%;
}

.mtest01 .section3 .effe {
    position: absolute;
    width: 58%;
    right: 4%;
    top: 9%;
}

#mtest.mtest01 .section3 .font h3 {
    color: #ffffff;
}

#mtest.mtest01 .section3 .font p {
    color: #ffffff;
}

.mtest02 .section2 .effe {
    top: 9%;
    right: 12%;
    width: 30%;
}

.mtest02 .section3 .effe {
    top: 6%;
    right: 12%;
    width: 45%;
}

.mtest03 .section2 .effe {
    top: 9%;
    right: 30%;
    width: 59%;
}

.mtest03 .section3 .effe {
    top: 9%;
    right: 12%;
    width: 30%;
}

.mtest04 .section1 {
    overflow: hidden;
}

.mtest04 .section1 .imgEffe {
    position: relative;
    height: 800px;
    overflow: hidden;
}

#mtest.mtest04 .section.section1 .imgWrap {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.mtest04 .section1 .effeDon {
    position: absolute;
    top: 9%;
    right: -13%;
    ;
}

.mtest04 .section1 .effeDon .effe02 {
    position: absolute;
    top: 112px;
    right: -24px;
    transform: rotate(3deg);
    transform-origin: top center;
    -ms-transform: rotate(3deg);
    -ms-transform-origin: top right;
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: top center;
    -moz-transform: rotate(3deg);
    -moz-transform-origin: top center;
    -o-transform: rotate(3deg);
    -o-transform-origin: top center;
    animation: rotation3 18s linear infinite;
    -moz-animation: rotation3 18s linear infinite;
    -webkit-animation: rotation3 18s linear infinite;
    -o-animation: rotation3 18s linear infinite;
}

@keyframes rotation2 {
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-88deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}

@-moz-keyframes rotation2
/* Firefox */

{
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-88deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}

@-webkit-keyframes rotation2
/* Safari å’Œ Chrome */

{
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-88deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}

@-o-keyframes rotation2
/* Opera */

{
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-88deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}

@keyframes rotation3 {
    0% {
        -webkit-transform: rotate(53.8deg);
    }
    50% {
        -webkit-transform: rotate(-41.3deg);
    }
    100% {
        -webkit-transform: rotate(53.8deg);
    }
}

@-moz-keyframes rotation3
/* Firefox */

{
    0% {
        -webkit-transform: rotate(53.8deg);
    }
    50% {
        -webkit-transform: rotate(-41.3deg);
    }
    100% {
        -webkit-transform: rotate(53.8deg);
    }
}

@-webkit-keyframes rotation3
/* Safari å’Œ Chrome */

{
    0% {
        -webkit-transform: rotate(53.8deg);
    }
    50% {
        -webkit-transform: rotate(-41.3deg);
    }
    100% {
        -webkit-transform: rotate(53.8deg);
    }
}

@-o-keyframes rotation3
/* Opera */

{
    0% {
        -webkit-transform: rotate(53.8deg);
    }
    50% {
        -webkit-transform: rotate(-41.3deg);
    }
    100% {
        -webkit-transform: rotate(53.8deg);
    }
}

.mtest04 .section3 .effe {
    top: 9%;
    right: 12%;
    width: 30%;
}


/*.mtest05  .section1 .effe{
    top: 9%;
    right: 0%;
    width: 72%;
}*/

.mtest05 .section1 {
    overflow: hidden;
}

.mtest05 .section1 .imgEffe {
    position: relative;
    overflow: hidden;
    height: 800px;
}

#mtest.mtest05 .section.section1 .imgWrap {
    position: relative;
    overflow: hidden;
    height: 800px;
}

.mtest05 .section1 .effeDon {
    position: absolute;
    top: 9%;
    right: -5%;
    ;
}

.mtest05 .section1 .effeDon .effe02 {
    position: absolute;
    top: 108px;
    right: -25px;
    transform: rotate(3deg);
    transform-origin: top center;
    -ms-transform: rotate(3deg);
    -ms-transform-origin: top right;
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: top center;
    -moz-transform: rotate(3deg);
    -moz-transform-origin: top center;
    -o-transform: rotate(3deg);
    -o-transform-origin: top center;
    animation: rotation3 18s linear infinite;
    -moz-animation: rotation3 18s linear infinite;
    -webkit-animation: rotation3 18s linear infinite;
    -o-animation: rotation3 18s linear infinite;
}

.mtest05 .section2 .effe {
    top: 4%;
    left: 10%;
    width: 32%;
}

.mtest05 .section3 .effe {
    top: 9%;
    right: 12%;
    width: 30%;
}

.mtest06 .section2 .effe {
    top: 8%;
    right: 38%;
    width: 54%;
}

.mtest06 .section4 .effe {
    top: 3%;
    left: 13%;
    width: 62%;
}

.mtest07 .section2 {
    overflow: hidden;
}

.mtest07 .section2 .imgEffe {
    position: relative;
    height: 800px;
    overflow: hidden;
}

#mtest.mtest07 .section.section2 .imgWrap {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.mtest07 .section2 .effeDon {
    position: absolute;
    top: 9%;
    right: -5%;
    ;
}

.mtest07 .section2 .effeDon .effe02 {
    position: absolute;
    top: 126px;
    right: -25px;
    transform: rotate(3deg);
    transform-origin: top center;
    -ms-transform: rotate(3deg);
    -ms-transform-origin: top right;
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: top center;
    -moz-transform: rotate(3deg);
    -moz-transform-origin: top center;
    -o-transform: rotate(3deg);
    -o-transform-origin: top center;
    animation: rotation3 18s linear infinite;
    -moz-animation: rotation3 18s linear infinite;
    -webkit-animation: rotation3 18s linear infinite;
    -o-animation: rotation3 18s linear infinite;
}

.mtest07 .section3 .effe {
    width: 36%;
    top: 8%;
    right: 12%;
}

.mtest08 .section2 .effe {
    top: 4%;
    right: 24%;
    width: 40%;
}

.mtest08 .section4 .effe {
    width: 28%;
    top: 0%;
    right: 20%;
}

#mtest.mtest08 .section3 .font {
    padding-top: 31px;
}

.mtest09 .section3 .effe {
    width: 28%;
    top: 0%;
    right: 20%;
}

.mtest09 .section4 .effe {
    top: 5%;
    right: 13%;
    width: 33%;
}

#mtest.mtest09 .section2 .font {
    padding-top: 36px;
}

.mtest10 .section5 .effe {
    top: 14%;
    right: 13%;
    width: 12%;
}

.mtest11 .section1 .effe {
    top: 13%;
    right: 3%;
    width: 70%;
}

.mtest11.mtest11_xs .section1 .effe {
    top: 20%;
    right: 4%;
    width: 57%;
}

.mtest11 .section2 .effe {
    top: 18%;
    right: 0%;
    width: 79%;
}

.mtest11.mtest11_xs .section2 .effe {
    top: 24%;
}

.mtest11 .section3 .effe {
    top: 0;
    right: 19%;
    width: 61%;
}

.mtest12 .section1 .effe {
    top: 14%;
    right: 9%;
    width: 13%;
}

.mtest12 .section1 .effe2 {
    position: absolute;
    top: 16%;
    left: 44%;
    width: 200px;
}

.mtest12 .section1 .effe2.effe2_vj {
    left: 32%;
}

.mtest12 .section2 .effe {
    top: 17%;
    left: 20%;
    width: 80%;
}

.mtest12 .section3 .effe {
    top: 0;
    right: 19%;
    width: 61%;
}

.parameter .classify {
    display: table;
    width: 100%;
    height: 108px;
}

.parameter .classEle {
    display: table-cell;
    width: 33.333%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background: #cacaca;
}

.parameter .class {
    display: inline-block;
    width: 163px;
    padding-top: 52px;
    vertical-align: middle;
}

.parameter .class01 {
    background: url(../images/parameter_s2_01.png) no-repeat center 22px;
}

.parameter .class02 {
    background: url(../images/parameter_s2_02.png) no-repeat center 22px;
}

.parameter .classEle p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
    color: #333333;
}

.parameter .classEle:hover {
    background: #fff;
}

.parameter .classEle.active {
    background: #fff;
}


/*.parameter .classEle:hover p{
    color:#801e20;
}
.parameter .classEle.active p{
    color:#801e20;
}*/

.parameter .paraInner {
    width: 960px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 86px;
}

.parameter .paraBlock {
    display: none;
    text-align: center;
}

.parameter .paraBlock.active {
    display: block;
}

.parameter .paraBlock img {
    max-width: 100%;
    padding-bottom: 30px;
}

.parameter .pdf {
    width: 229px;
    height: 53px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50px;
    background: #262626;
    line-height: 53px;
}

.parameter .pdf:hover {
    background: #801e20;
}

.parameter .pdf p {
    font-size: 20px;
    padding-right: 28px;
    color: #fff;
    background: url(../images/pdfDown.png) no-repeat 152px center;
}

.mtest_fz .section .font {
    width: 550px !important;
}

.mtest_fz .section .font p.p2 {
    font-size: 14px !important;
}


/**/

#mtest .section1 .ns_effe1 {
    width: 66%;
    top: 4%;
    left: 0;
}

#mtest .section .ns_effe1 .effe02Wrap {
    z-index: 1;
}

#mtest .section .ns_effe1 .effe02Wrap_01 {
    z-index: 1;
}

#mtest .section3 .ns_effe2 {
    top: 9%;
    right: 12%;
    width: 30%;
}

#mtest .section4 .fz_effe {
    width: 62%;
    top: 0;
    left: 13%;
}

#mtest .section4 .fz_effe .effe02Wrap {
    z-index: 1;
}

#mtest .section4 .fz_effe .effe02Wrap_01 {
    z-index: 1;
}

.mtest_fz .section .font {
    position: relative;
    z-index: 2;
}

#mtest .section1 .es_effe1 {
    width: 59%;
    top: 1%;
    left: 12%;
}

#mtest .section2 .es_effe2 {
    width: 66%;
    top: 4%;
    left: 0%;
}

#mtest .section2 .es_effe2 .effe02Wrap {
    z-index: 1;
}

#mtest .section2 .es_effe2 .effe02Wrap_01 {
    z-index: 1;
}

#mtest .section .font {
    position: relative;
    z-index: 2;
}

#mtest.mtest_fz .sectionInner {
    width: 70%;
}

#mtest.mtest_fz .section1 .sectionInner {
    top: 16%;
}

#mtest.mtest_fz .section2 .sectionInner {
    top: 16%;
}

#mtest.mtest_fz .section5 .font {
    padding-top: 30px;
}

#mtest.mtest_fz .section4 .font {
    margin-left: 15%;
    width: 485px !important;
}

#mtest.household_ns .section1 .font {
    width: 500px;
}

#mtest.household_ns .section2 .font {
    width: 500px;
}

#mtest.household_ns .section3 .font {
    width: 500px;
}

#mtest.household_es .section1 .sectionInner {
    width: 75%;
}

#mtest.household_es .section .font {
    width: 500px;
}
/* 2018-9-27 */
#mtest .screenInner .rotate {
    width: 106px;
    height: 90px;
    position: relative;
    background: url('../../img/mo/test/rotatebg01.png') no-repeat center center;
    visibility: hidden;
    margin-top: 20px;
}
.img-180, .img-3d {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
}
.img-180 p {
    margin-top: 0;
}
.img-180 p,
.img-3d p {
    font-size: 16px;
    line-height: 24px;
}
#mtest .screenInner .rotateImg {
    position: absolute;
    width: 33px;
    height: 29px;
    background: url('../../img/mo/test/rotate01.png') no-repeat center center;
    cursor: pointer;
    left: 36px;
    top: 48px;
}
.img-180 {
    position: relative;
}
.r-p {
    position: absolute;
    right: 14px;
    top: 27px;
    font-size: 16px;
    color: #801e20;
}
.img-3d p {
    margin-top: 0;
}
.img-180 p {
    margin-top: 9px;
}
/*2019-3-21*/
#mtest .banner .screen{
    min-height: unset;
    padding-bottom: 80px;
}
p{
    max-height: 999999999999px;
}
/*2019-3-21 end*/


/*2019-4-25*/

    #mtest.mtest06-kt .sectionInner{
        width: 70%;
    }

    #mtest.mtest06-kt .section1 .effe {
        top: 0;
        right: 15%;
        width: 85%;
    }

    #mtest.mtest06-kt .section1 .imgEffe {
        position: relative;
        height: 800px;
        overflow: hidden;
    }

    #mtest.mtest06-kt .section.section1 .imgWrap {
        position: relative;
        height: 800px;
        overflow: hidden;
    }

    #mtest.mtest06-kt .section1 .effeDon {
        position: absolute;
        top: 9%;
        right: -17%;
    }
    #mtest.mtest06-kt .section4 .font.font_ban {
        width: 43%;
    }
    #mtest.mtest06-kt .section1 .font.font_ban {
        width: 43%;
        padding-top: 50px;
    }
    #mtest.mtest06-kt .section2 .font.font_ban{
        width: 35%;
    }
    .mtest06.mtest06-kt .section2 .effe {
        top: 8%;
        right: 20%;
        width: 55%;
    }
    .mtest06.mtest06-kt .section4 .effe {
        left: 8%;
    }
    #mtest.mtest06-kt .section.section1 .imgWrap{
        height: auto;
    }

    /*2019-6-21*/
    #mtest.mtest-zt-gzt .section1.section1-1 .font.font_ban{
        padding-top: 70px;
        margin-left: 20%;
    }
    /*2019-6-21 end*/
@media screen and (max-width:1000px){
    #mtest.mtest06-kt .section4 .font.font_ban {
        width: auto;
    }
    #mtest.mtest06-kt .section1 .font.font_ban {
        width: auto;
        padding-top: 0;
    }
    #mtest.mtest06-kt .section2 .font.font_ban{
        width: auto;
    }
}
/*2019-4-25 end*/