/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 .box-title1 {
	top: 10.8%;
}
.sec1 .level1 {
	top: 21.8%;
}
.sec1 .box-swiper {
	top: 25.8%;
}
.sec1 .swiper-slide img {
	width: 170%;
	margin-left: -35%;
}
.sec1 .box-colors {
	bottom: 7%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .color-item2 div {
	background: #c70023;
}
.sec1 .color-item3 div {
	background: #e8d3b4;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	width: 83%;
	top: 62.2%;
	left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.28%;
	margin: 0.32rem;
}
.sec1 .box-download {
	width: 83.8%;
	top: 79.7%;
	left: 8.1%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 7.6%;
}
.sec2 .box-prod {
	top: 8.6%;
}
.sec2 .content2 {
	top: 48.8%;
}
.sec2 .content-item.show {
	display: block;
}
.sec2 .btn-check-plus {
	width: 39%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 #ifr3 {
	top: 36%;
	height: 20rem;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-bg-swiper .swiper-slide img:last-child {
	margin-top: -14.2%;
}
.sec4 .box-title4-1 {
	top: 3.2%;
	z-index: 1;
}
.sec4 .box-swiper {
	top: 7.3%;
}
.sec4 .swiperprod .swiper-slide img:first-child {
	margin-bottom: 108%;
}
.sec4 .swiperprod .swiper-pagination {
	bottom: 52.6%;
}
.sec4 .swiperprod .swiper-pagination-bullet {
	width: 0.88rem;
	height: 0.88rem;
	margin: 0 1rem;
	background: #d9d9d9;
	opacity: 1;
}
.sec4 .swiperprod .swiper-pagination-bullet-active {
	background: #565656;
}
.sec4 .box-info-swiper {
	top: 34.7%;
}
.sec4 .box-title4-2 {
	top: 51.8%;
	z-index: 1;
}
.sec4 .divider {
	width: 7%;
	height: 0.2rem;
	margin: 8% 0 5% 6%;
}
.sec4 .divider.color1 {
	background: #373737;
}
.sec4 .box-series.color1 .line {
	background: #fff;
}
.sec4 .divider.color2, .sec4 .box-series.color2 .line {
	background: #6b030e;
}
.sec4 .divider.color3, .sec4 .box-series.color3 .line {
	background: #4e2d00;
}
.sec4 .box-series {
	top: 91.2%;
	left: 0;
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	z-index: 1;
}
.sec4 .box-series.color1 {
	color: #373737;
}
.sec4 .box-series.color2 {
	color: #6b030e;
}
.sec4 .box-series.color3 {
	color: #4e2d00;
}
.sec4 .box-series .series-item {
	line-height: 2rem;
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1       /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
}
.sec4 .box-series .series-item span {
	vertical-align: bottom;
	opacity: 0.5;
}
.sec4 .box-series .series-item.active span {
	opacity: 1;
}
.sec4 .box-series .type {
	font-size: 1.6rem;
}
.sec4 .box-series .series-item.active .type {
	font-size: 2rem;
}
.sec4 .box-series .series {
	font-size: 1.2rem;
}
.sec4 .box-series .series-item.active .series {
	font-size: 1.3rem;
}
.sec4 .box-series .line {
	width: 60%;
	height: 0.2rem;
	margin-top: 0.6rem;
	opacity: 0;
}
.sec4 .box-series .series-item.active .line {
	opacity: 1;
}
.sec5 {
	margin-top: -14.2%;
}
.sec5 .box-title5 {
	top: 18.8%;
}
.sec5 .title5 {
	margin-bottom: 27%;
}
.sec5 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 0 0 3% 8%;
	background: rgba(105, 57, 0, 0.65);
}
.sec5 .prod5-1 {
	width: 46.934%;
	z-index: 1;
}
.sec5 .prod5-2 {
	width: 25.867%;
	top: 11.3%;
}
.sec5 .prod5-3 {
	width: 44%;
	top: 46.6%;
}
.sec5 .prod5-4 {
	width: 23.334%;
	top: 30.9%;
}
.sec6 {
	margin-top: -13%;
}
.sec6 .bg6 {
	height: 100vh;
}
.sec6 .box-title6 {
	top: 7%;
}
.sec6 .box-text {
	top: 56.8%;
}
.sec6 .text {
	margin-bottom: 10.4%;
}
.sec7 {
	margin-top: 14%;
}
.sec7 .bg7 {
	height: 88vh;
}
.sec7 .box-title7-1 {
	top: 8.2%;
}
.sec7 .box-effect {
	width: 55.734%;
	top: 16.6%;
	right: 4.6%;
}
.sec7 .box-effect .box-wind {
	width: 142.11%;
	height: 0%;
	top: 80%;
	right: 29%;
	overflow: hidden;
}
.sec7 .box-title7-2 {
	top: 41%;
}
.sec7 .title7-2 {
	margin-bottom: 6%;
}
.sec7 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 0 0 2.4% 11%;
	background: rgba(0, 0, 0, 0.65);
}
.sec8 {
	margin-top: 14%;
}
.sec8 .box-title8 {
	top: 5.2%;
}
.sec8 .box-text {
	top: 18.4%;
	left: 0;
}
.sec8 .box-text img:first-child {
	margin-bottom: 3.6%;
}
.sec8 .box-prod {
	top: 31.8%;
	left: 0;
}
.sec8 .box-subtitle8 {
	top: 67.4%;
	left: 0;
}
.sec8 .box-subtitle8 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 0 0 3.6% 11%;
	background: rgba(0, 0, 0, 0.65);
}
.sec9 {
	margin-top: -14.6%;
}
.sec9 .box-title9 {
	top: 4.8%;
}
.sec9 .box-swiper {
	top: 12.8%;
	left: 0;
}
.sec9 .swiper9 .swiper-slide img {
	padding-bottom: 61.5%;
}
.sec9 .swiper9 .swiper-pagination-bullet {
	width: 0.88rem;
	height: 0.88rem;
	margin: 0 1rem;
	background: #fff;
	opacity: 1;
}
.sec9 .swiper9 .swiper-pagination-bullet-active {
	background: #4c2000;
}
.sec9 .box-text {
	top: 60%;
	left: 0;
}
.sec9 .box-text .divider {
	width: 8%;
	height: 0.2rem;
	margin: 4.8% 0 2.4% 12.6%;
	background: rgba(105, 57, 0, 0.65);
}
.sec10 {
	margin-top: -14%;
}
.sec10 .box-title10 {
	top: 7.6%;
}
.sec10 .box-swiper {
	top: 31%;
}
.sec10 .swiper-pagination {
	bottom: 0;
}
.sec10 .swiper10 .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem;
	background: #d9d9d9;
	opacity: 1;
}
.sec10 .swiper10 .swiper-pagination-bullet-active {
	background: #565656;
}
.sec10 .prod-info {
	padding: 6% 0 30%;
}
.sec10 .prod-info {
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.sec10 .btn-checkprod {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin-top: 9%;
	padding: 2.4% 16.4%;
	background: #000;
	display: inline-block;
}
.modal .content {
	padding: 40% 10% 0;
}
.modal .btn-close {
	width: 12%;
	margin-top: 4rem;
}
.modal-download .content {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.modal-download a {
	padding: 1.66rem 0;
	border-bottom: 1px solid #fff;
	display: block;
}
.modal-download a:last-child {
	border-bottom: none;
}
.modal-download a {
	color: #fff;
}
.modal-download a:link {
	color: #fff;
}
.modal-download a:visited {
	color: #fff;
}
.modal-download a:hover {
	color: #fff;
}
.modal-download a:active {
	color: #fff;
}
.modal-download .icon-download {
	width: 1.2rem;
	margin-left: 0.8rem;
	margin-bottom: 0.5%;
	vertical-align: bottom;
}
