<style>
	.box-link {
		margin-top: 7.8%;
	}
	.box-link .link-item {
		width: 37%;
		display: inline-block;
	}
	.box-link .divider {
		width: 1px;
		height: 26rem;
		margin: 0.4% 2.6% 0;
		background: #d3d3d3;
		vertical-align: top;
		display: inline-block;
	}
	.box-link .linktitle {
		margin-bottom: 6.8%;
	}
	.box-link .link-item > div div {
		width: 47%;
	}
	.box-link .btn-more-m {
		width: 79%;
		bottom: 5%;
		left: 10.5%;
	}
	.box-service {
		margin-top: 11%;
	}
	.box-service img {
		width: 30.5%;
	}
	.foot-nav {
		margin-top: 11.4%;
		padding: 4.8% 0 12.6%;
		background: #e9e9e9;
	}
	.foot-nav .nav-item {
		width: 7.2rem;
		display: inline-block;
	}
	.foot-nav .label {
		font-weight: 900;
		font-size: 1.2rem;
		line-height: 1.2rem;
		padding: 1rem;
		display: inline-block;
	}
	.foot-nav a {
		color: #666;
	}
	.foot-nav a:link {
		color: #666;
	}
	.foot-nav a:visited {
		color: #666;
	}
	.foot-nav a:hover {
		color: #666;
	}
	.foot-nav a:active {
		color: #666;
	}
	.foot-nav ul {
		top: 100%;
		left: 0;
		padding-left: 1rem;
		display: none;
	}
	.foot-nav ul li {
		line-height: 2.6rem;
	}
	.foot-nav ul a {
		font-size: 1.2rem;
		line-height: 1.2rem;
	}
	.foot-nav ul .icon-diamond {
		width: 0.4rem;
		height: 0.4rem;
		margin: 0.64rem 0.64rem 0 0;
		background: #666;
		vertical-align: top;
		display: inline-block;
	}
	.foot-link {
		font-size: 1.2rem;
		line-height: 1.2rem;
		font-weight: 700;
		padding: 3.6% 0 3.6% 9.8%;
	}
	.foot-link .link-item:first-child {
		margin-bottom: 2%;
	}
	.foot-link a {
		color: #000;
		padding: 0 0.8%;
	}
	.foot-link a:link {
		color: #000;
	}
	.foot-link a:visited {
		color: #000;
	}
	.foot-link a:hover {
		color: #000;
	}
	.foot-link a:active {
		color: #000;
	}
	.foot-link .icon-link {
		margin-left: 0.8%;
		vertical-align: bottom;
	}
	.copyright {
		padding: 1.36% 10.4%;
		color: #fff;
		font-size: 1rem; 
		line-height: 2.2rem;
		background: #666;
	}
	.box-link, .box-service {
		opacity: 0;
	}
</style>

<!-- link -->
<div class="box-link text-center">
	<div class="link-item">
		<div class="linktitle linktitle1">
			<img class="full-w" src="img/pc/linktitle1.png" alt="三菱电机空调的优势">
		</div>
		<div class="clearfix">
			<div class="link-story rel fl">
				<img class="full-w" src="img/link-story.jpg" alt="our story">
				<a href="p.story.html" target="_self">
					<img class="btn-more-m abs" src="img/pc/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-moveeye rel fr">
				<img class="full-w" src="img/link-moveeye.jpg" alt="全域慧眼">
				<a href="p.moveeye.html" target="_self">
					<img class="btn-more-m abs full-w" src="img/pc/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-meq rel fl">
				<img class="full-w" src="img/link-meq.jpg" alt="MEQ">
				<a href="p.meq.html" target="_self">
					<img class="btn-more-m abs full-w" src="img/pc/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-brand rel fr">
				<img class="full-w" src="img/link-brand.jpg" alt="story">
				<a href="p.story.html" target="_self">
					<img class="btn-more-m abs full-w" src="img/pc/btn-more-m.png" alt="了解更多">
				</a>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="link-item">
		<div class="linktitle linktitle2">
			<img class="full-w" src="img/pc/linktitle2.png" alt="了解更多三菱电机空调">
		</div>
		<div class="clearfix">
			<div class="link-qrcode fl">
				<img class="full-w" src="img/link-qrcode.jpg" alt="三菱电机空调微信公众号">
			</div>
			<div class="link-prod rel fr">
				<img class="full-w" src="img/link-prod.jpg" alt="产品信息">
				<a href="#" target="_blank">
					<img class="btn-more-m abs" src="img/pc/btn-more-m.png" alt="了解更多">
				</a>
			</div>
		</div>
	</div>
</div>
<!-- service -->
<div class="box-service text-center">
	<img src="img/service.png" alt="客服热线">
</div>
<!-- foot nav -->
<div class="foot-nav text-center">
	<div class="nav-item">
		<a class="label" href="p.index.html" target="_self">首页</a>
	</div>
	<div class="nav-item">
		<a class="label" href="p.story.html" target="_self">品牌</a>
	</div>
	<div class="nav-item rel">
		<a class="label">产品信息</a>
		<ul class="abs">
			<li>
				<a href="#" target="_blank"><i class="icon-diamond"></i>家用空调</a>
			</li>
			<li>
				<a href="#" target="_blank"><i class="icon-diamond"></i>商用空调</a>
			</li>
		</ul>
	</div>
	<div class="nav-item">
		<a class="label" href="p.support.html" target="_self">支持</a>
	</div>
	<div class="nav-item">
		<a class="label" href="#" target="_blank">网点</a>
	</div>
	<div class="nav-item">
		<a class="label" href="#" target="_blank">新闻</a>
	</div>
	<div class="nav-item">
		<a class="label" href="#" target="_blank">公司信息</a>
	</div>
	<div class="nav-item">
		<a class="label" href="#" target="_blank">会员登录</a>
	</div>
</div>
<!-- foot link -->
<div class="foot-link">
	<div class="link-item">
		<a href="#" target="_blank">会员登录</a>
		<span>丨</span>
		<a href="#" target="_blank">重要通知</a>
		<span>丨</span>
		<a href="#" target="_blank">招聘信息</a>
	</div>
	<div class="link-item">
		<a href="https://www.mitsubishielectric.co.jp/index.html" target="_blank">三菱电机株式会社<img class="icon-link" src="img/pc/icon-link.png"></a>
		<span>丨</span>
		<a href="https://www.mitsubishielectric.com/en/index.html" target="_blank">三菱电机全球<img class="icon-link" src="img/pc/icon-link.png"></a>
		<span>丨</span>
		<a href="https://www.mlc-cn.com/index/" target="_blank">三菱电机空调影像设备有限公司<img class="icon-link" src="img/pc/icon-link.png"></a>
	</div>
</div>
<!-- copyright -->
<div class="copyright">
	<div>Copyright©2020 上海三菱电机•上菱空调机电器有限公司. All rights reserved.<br/>沪ICP备10028231号-1  沪公网安备 31011502004862号</div>
</div>

<script>
	$(function($) {
		// divider变化
		function setDivider() {
			if($(window).width() > 960) {
				var h = ($(window).width() * 41.3) / 1920;
				$('.box-link .divider').css({'height': h + 'rem'});
			} else {
				$('.box-link .divider').css({'height': '16rem'});
			};
		};
	    setDivider();
	    $(window).on('resize', function() {
    		setDivider();
	    });

	    // 淡入动画
		$.fadeUpAn($('.box-link'));
		$.fadeUpAn($('.box-service'));
		// scroll
		$(window).on('scroll', function() {
			$.fadeUpAn($('.box-link'));
			$.fadeUpAn($('.box-service'));
		});

	    // hover
	    $('.btn-more-m').hover(function() {
			$(this).attr('src', 'img/pc/btn-more-m-active.png');
		}, function() {
			$(this).attr('src', 'img/pc/btn-more-m.png');
		});

		// foot nav
		$('.foot-nav .nav-item').hover(function() {
			if($(this).find('ul').length > 0) {
				$(this).find('ul').stop(true, true).slideDown();
			};
		}, function() {
			if($(this).find('ul').length > 0) {
				$(this).find('ul').stop(true, true).slideUp();
			};
		});
		$('.foot-nav .nav-item').on('click', function() {
			if($(this).find('ul').length > 0) {
				$(this).find('ul').stop(true, true).slideToggle();
			};
		});
	});
</script>