<style>
	header {
		min-width: 960px;
		height: 9.4rem;
		background: #fff;
		display: -webkit-flex; /* 新版本语法: Chrome 21+ */
		display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
		display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
		display: -moz-box; /* 老版本语法: Firefox (buggy) */
		display: -ms-flexbox; /* 混合版本语法: IE 10 */
		z-index: 11;
	}
	header .box-logo {
		height: 53.2%;
		margin-top: 2.2rem;
		margin-left: 5.2%;
		-webkit-flex: 1;   /* Chrome */  
	    -ms-flex: 1;       /* IE 10 */  
	    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
	    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
	}
	header nav {
		font-size: 1.4rem;
		line-height: 9.4rem;
		-webkit-flex: 5;   /* Chrome */  
	    -ms-flex: 5;     /* IE 10 */  
	    flex: 5;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	    -webkit-box-flex: 5;   /* OLD - iOS 6-, Safari 3.1-6 */  
	    -moz-box-flex: 5;    /* OLD - Firefox 19- */ 
	}
	header nav a {
		color: #000;
		padding: 0 2.4%;
		display: inline-block;
	}
	header a:link {
		color: #000;
	}
	header a:visited {
		color: #000;
	}
	header a:hover {
		color: #000;
	}
	header a:active {
		color: #000;
	}
	header .box-search {
		height: 46.82%;
		margin-top: 2.76rem;
		margin-right: 4.4%;
		-webkit-flex: 1;   /* Chrome */  
	    -ms-flex: 1;       /* IE 10 */  
	    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
	    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
	}
</style>

<header class="fixed full-w top left">
	<!-- logo -->
	<div class="box-logo">
		<a href="index.html" target="_self">
			<img class="full-h" src="img/pc/logo.png" alt="Misubishi Electric">
		</a>
		<h1>Misubishi Electric</h1>
	</div>
	<!-- nav -->
	<nav class="text-center">
		<a href="p.home.html" target="_self">首页</a>
		<a href="p.story.html" target="_self">品牌</a>
		<a href="p.prod.html" target="_self">产品信息</a>
		<a href="p.support.html" target="_self">支持</a>
		<a href="p.support.html#point" target="_self">网点</a>
		<a href="#" target="_self">新闻</a>
		<a href="#" target="_self">公司信息</a>
		<a href="#" target="_self">会员登录</a>
	</nav>
	<!-- search -->
	<div class="box-search text-right">
		<img class="full-h pointer" src="img/pc/icon-search.png" alt="search">
	</div>
</header>

<script>
	$(function($) {
		// search
		$('.search-box img').on('click', function() {
			alert('暂无搜索功能');
		});

		// 调接口获取栏目
	    // $.ajax({
	    //     type: 'get',
	    //     url: 'http://10.152.153.165:3344/service/api/Channel/GetChannels',
	    //     dataType: 'json',
	    //     // contentType: 'application/json',
	    //     // data: {},
	    //     // async: false,
	    //     cache: false,
	    //     success: function(data) {
	    //         console.log(data);
	    //     },
	    //     error: function() {
	    //         //
	    //         alert('网络错误，请刷新重试');
	    //     },
	    //     complete: function(data) {
	    //         // 调取完毕
	    //         $('.modal-loading').fadeOut('fast');
	    //     }
	    // });
	});
</script>