<style>
	.sidebar {
		width: 5.2%;
		top: 14.2rem;
		background: #fff;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
		z-index: 4;
	}
	.sidebar .divider {
		width: 78%;
		height: 1px;
		background: #cbcbcb;
	}
</style>

<div class="sidebar fixed right">
	<div class="btn-wechat pointer">
		<img class="full-w" src="img/icon-wechat.png">
	</div>
	<div class="divider center"></div>
	<div class="btn-service pointer">
		<img class="full-w" src="img/icon-service.png">
	</div>
</div>

<script>
	$(function($) {
		// scroll to view
		// scroll to wechat
		$('.btn-wechat').on('click', function() {
			$('html, body').animate({
				scrollTop: $('.box-link').offset().top * 0.95,
			}, 800);
		});
		// scroll to service
		$('.btn-service').on('click', function() {
			$('html, body').animate({
				scrollTop: $('.box-service').offset().top * 0.95,
			}, 800);
		});
	});
</script>